.container__contato {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}
.container__contato h2 {
	font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    margin: 30px;
    color: rgb(102, 102, 102);
}
form {
    display: flex;
    flex-direction: column;
}
form label, form legend, fieldset {
	display:block;
	font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 10px 0 0 0;
    padding: 5px;
}
.input-padrao {
    height: 40px;
    padding-left: 10px;
    font-size: 1.25rem;
}
#mensagem {
    height: 100px; 
}
.checkbox {
	margin: 20px 0;
}
.enviar {
	width:100%;
	padding: 15px 0;
	background: rgb(88, 88, 87);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover {
	background: rgb(182, 182, 182);
	color: black;
}
table {
	margin: 20px 0;
    text-align: center;
    border-collapse: collapse;
}
thead {
	background: #a8a8a8;
	color: white;
	font-weight: bold;	
}
td, th {
    background-color: #a8a8a8;
	border: 1px solid #000000;
	padding: 8px 15px;
    font-size: 22px;
    font-weight: bold;
}
th {
    background: #7c7c7c;
}
